<!-- styling components
<h1>Style Rules and Option</h1>
<h1>Hello, Angular 19</h1>
<h1>Examples of Interpolation in Angular</h1>
<style>
  /*use the styling element to style internally */
  h2 {
    color: orange;
    background-color: black;
  }
</style>
<h2>Double Curly braces are a must in interpolation</h2>
<!- below are interpolation examples -->
<!-- <h2>{{ title }}</h2> -->
 <!-- js method executing it to uppercase inside the html code
<h2>{{ "hello".toUpperCase() }}</h2>
<h2>{{ 10 == 10 }}</h2> -->
<!-- can also be used to compare values from the ts file -->
<!-- <h2>{{ user1 == user2 }}</h2>
<!- executes js inside code as well -->
<!-- <h2>{{ data + data2 }}</h2> -->
<!-- inline styling -->
<!-- <h3 style="background-color: gold; color: black; font-size: 50px">
  {{ name }}
</h3>
<hr />
<app-user></app-user>
<hr /> -->
<!-- the following are the limitations of interpolation -->
<!-- cannot assign a value -->
<!-- <h1>{{data=3000}}</h1> -->
<!-- cannot redeclare a variable -->
<!-- <h1>{{data3=3000}}</h1> -->
<!-- cannot increment a value or loops unless it is ngFor ngIf  -->
<!-- <h1>{{data2++}}</h1> -->
<!-- <hr />
<app-login></app-login>
<hr /> -->
<!-- change of selector -->
<!-- <hr />
<signup></signup>
<hr /> -->
<!-- <router-outlet> -->

<!-- use  custom profile component -->
<!-- <hr />
<app-profile></app-profile>
<hr /> -->
<!-- can also be reused, the names can also be changed but it is advisable to use the selector name -->
<!-- <app-profile></app-profile>
<app-profile></app-profile>
<app-profile></app-profile>
<br /><br /> -->

<!-- making function calls on button click,to call the function you have to define the function in the ts file-->
<!-- also if you want to use a click event in the file you can use the click keyword as below and call the function as you would in JS-->
<!-- <button (click)="handleClickEvent()">Click Me</button>
<br /><br /> -->
<!-- define Data types in Angular-->
<!-- using the function in ts the numbers as mirrored in the parameters will be added unless the parameters are not numeric-->
<!-- <button (click)="sum(10, 20)">Sum</button> -->

<!-- making a counter app  -->
<!-- <h3>counter app</h3>
<div style="text-align: center"> -->
  <!-- using interpolation for the count number -->
  <!-- <h3 class="count">{{ count }}</h3>
  <div> -->
    <!-- <button (click)="handleDecrement()"  class="btn bg-red">Decrement</button>
    <button (click)="handleReset()"  class="btn bg-black">Reset</button>
    <button (click)="handleIncrement()" class="btn bg-green">Increment</button> -->
    <!-- using the function and  its parameters -->
    <!-- <button (click)="handleCounter('minus')" class="btn bg-red">
      Decrement
    </button>
    <button (click)="handleCounter('reset')" class="btn bg-black">Reset</button>
    <button (click)="handleCounter('plus')" class="btn bg-green">
      Increment
    </button>
  </div>
</div> -->

<!-- get and set input field value using an event whether keyup or keydown but input a dollar sign before the event name-->
<!-- gets its value on the html as well as the console -->
<!-- <h2>{{ username }}</h2> -->
<!--  -->
<!-- setting the value from the ts -->
<!-- <input
  value="{{ username }}"
  (input)="getUserName($event)"
  #userNameField
  type="text"
  placeholder="Enter username"
/>
<br /><br /> -->
<!-- setting the value to be called by the button -->
<!-- <button (click)="setUserName()">Set username</button> -->
<!-- get input value note on typing by adding one function and creating a template variable -->
<!-- <button (click)="getUserNameWithTemplate(userNameField.value)">
  Get username
</button>  -->

<!-- IF/Else || Control flow  -->
<!-- @ is a directive -->
<!-- @if(val==10){
<div style="background-color: purple;height: 200px; width: 200px;"></div>

} -->
<!-- the condition will be defined in the ts file for the component
<button (click)="hide()">Hide</button>
<button (click)="show()">Show</button>
<button (click)="toggle()">Toggle</button> -->
<!-- another way to use the toggle function with a ternary operator which is used to dynamically change the button label between "show" and "hide", -->
<!-- <button (click)="toggle()">
  {{ display ? "hide" : "show" }}
</button>

@if(display){
<div style="background-color: green; height: 200px; width: 200px"></div>

}
<hr />
<br /> -->

<!-- using if/else with divs -->
 <!-- <button (click)="toggleDivs()">Toggle divs</button>
@if(displayOneDiv){
<div style="background-color: blue; width: 100px; height: 100px"></div>
} @else{
<div style="background-color: red; width: 100px; height: 100px"></div>
} -->

<!-- switch case in angular 19 -->
 <!-- <button (click)="handleColor('red')">Red</button>
 <button (click)="handleColor('blue')">Blue</button>
 <button (click)="handleColor('green')">Green</button>
 <button (click)="handleColor('gold')">Gold</button> -->
<!-- (input)="changeColor($event)" sets up an event binding:

It says: “When the user types (input event), call the changeColor function and pass the event object ($event) to it.” -->
 <!-- <input type="text" placeholder="Enter color"  (input)="changeColor($event)">
 @switch (color) {

   @case ('red') {
    <h1 style="background-color: red;color: white;">Red color</h1>
   }
   @case ('blue') {
    <h1 style="background-color: blue;">Blue color</h1>
   }
   @case ('green') {
    <h1 style="background-color: green;">Green color</h1>
   }
   @case ('gold') {
    <h1 style="background-color: gold;">Gold color</h1>
   }@default {
    <h1 style="background-color: black; color: white;">NO MATCH</h1>
   }

} -->

<!-- for loops -->
 <!-- to display the array from the ts file you can either use single statement <h1>{{users[0]}}</h1> or a for loop -->
  <!-- | Part            | Meaning                                                  |
| --------------- | -------------------------------------------------------- |
| `@for`          | Loop directive (new Angular syntax)                      |
| `user of users` | Loop through the `users` array                           |
| `track user`    | Track each user by identity (like `trackBy` in `*ngFor`) |
 -->
<!-- @for(user of users; track user){ -->
<!-- displaying the users array -->
 <!-- <h2>{{user}}</h2>
 }
<hr><br><br> -->
<!-- the property after the track is a unique identifier which can be defined-->
 <!-- @for(student of students; track student.name;let id =$index){
  <h2> -->
    <!-- starting the number from 1 -->
    <!-- <span>{{id+1}}. </span>
  <span>{{student.name}}</span>
  <span>{{student.age}}</span>
  <span>{{student.email}}</span>
  <button (click)="getName(student.name)">Get Name</button>
  </h2>
 } -->

 <!-- events in Angular -->
  <!-- the dollar event shows all the details of the event -->
<!-- <h1>Event in Angular</h1>
<button class="btn" name="login" (click)="handleEvent($event)">Click on button</button>
<br><br> -->

<!--
  This div listens for the 'mouseenter' event (when the user's mouse hovers over it).
  The event object ($event) is passed to the handleEvent() function in the component.
-->
<!-- <div (mouseenter)="handleEvent($event)"
     style="background-color: green; height: 100px; width: 100px;">
</div>
<br><br>
<div (mouseleave)="handleEvent($event)"
     style="background-color: red; height: 100px; width: 100px;">
</div>
<br><br> -->
<!-- adding multiple events to a variable -->
<!-- <input

(blur)="handleEvent($event)"
(focus)="handleEvent($event)"
 (input)="handleEvent($event)"

type="text" name="user"
> -->
<!-- This input calls the handleEvent() function every time the user types.
     It sends the input event object ($event) to the function for processing. -->

<!-- signals in angular -->
 <!-- <h1>{{data}}</h1> -->
<!-- have to use it as a function value or else it wont display -->
<!-- <button (click)="updateValue('dec')">Decrement </button>
<h2>{{count()}}</h2>
 <button (click)="updateValue('inc')">Increment </button> -->

 <!-- data types with signals -->
  <!-- <h2>{{data2()}}</h2>
  <button (click)="updateValues()">Update</button>

  <br><hr> -->
  <!-- <h2>{{counts()}}</h2> -->

  <!-- computed signals -->
<!-- <h1>Computed signals</h1>
 <h1>{{z()}}</h1>
   <button (click)="updateValue()">Update value</button>

   <button (click)="updateXValue()">Update X value</button> -->

  <!-- Effects in Angular -->
<!-- <h1>Effect in Angular</h1> -->

<!-- Display current count value -->
<!-- <h1>{{ count() }}</h1> -->

<!-- Button to increment count signal -->
<!-- <button (click)="count.set(count() + 1)">Update userName</button> -->

<!-- Conditionally show heading when displayHeading is true
@if(displayHeading) {
  <h1 style="background-color: green;">Main heading</h1>
} -->
<!-- Heading to indicate this example is about ngFor context -->
<h1>For Loop Contextual Variables</h1>

<!--
  Loop through 'users' array using Angular's @for directive.
  Track each user by identity to improve performance.
  Also define contextual variables for even/odd detection.
-->
@for (user of users; track user; let e = $even; let o = $odd) {

  <!--
    You can also check for $first or $last:
    Uncomment below if you want to show special style for first/last user
  -->
  <!--
  @if($first || $last){
    <h3 style="background-color: green;">
      This is User no {{$index + 1}} and name is {{user}}
    </h3>
  } @else {
    <h3>
      This is User no {{$index + 1}} and name is {{user}}
    </h3>
  }
  -->

  <!-- Display users with different background color based on even/odd index -->
  @if(e) {
    <h3 style="background-color: #ddd;">
      This is User No {{$index}} and name is {{user}}
    </h3>
  }
  @if(o) {
    <h3 style="background-color: gold;">
      This is User No {{$index}} and name is {{user}}
    </h3>
  }

} @empty() {
  <!-- Fallback message when 'users' array is empty -->
  <h4>No records found</h4>
}

