<h1>Hello, Angular 19</h1>
<h1>Examples of Interpolation in Angular</h1>
<h2>Double Curly braces are a must in interpolation</h2>
<!-- below are interpolation examples -->
<h2>{{title}}</h2>
<!--  js method executing it to uppercase inside the html code -->
<h2>{{'hello'.toUpperCase()}}</h2>
<h2>{{10==10}}</h2>
<!-- can also be used to compare values from the ts file -->
<h2>{{user1==user2}}</h2>
<!-- executes js inside code as well -->
<h2>{{data+data2}}</h2>
<h3>{{name}}</h3>

<!-- the following are the limitations of interpolation -->
 <!-- cannot assign a value -->
<!-- <h1>{{data=3000}}</h1> -->
<!-- cannot redeclare a variable -->
<!-- <h1>{{data3=3000}}</h1> -->
<!-- cannot increment a value or loops unless it is ngFor ngIf  -->
<!-- <h1>{{data2++}}</h1> -->

<app-login></app-login>
<!-- change of selector -->
<signup></signup>
<!-- <router-outlet> -->

  <!-- use  custom profile component -->
   <app-profile></app-profile>
   <!-- can also be reused, the names can also be changed but it is advisable to use the selector name -->
   <app-profile></app-profile>
   <app-profile></app-profile>
   <app-profile></app-profile>
   <app-profile></app-profile>

   <!-- making function calls on button click,to call the function you have to define the function in the ts file-->
    <!-- also if you want to use a click event in the file you can use the click keyword as below and call the function as you would in JS-->
<button (click)="handleClickEvent()">Click Me</button>

<!-- define Data types in Angular-->
 <!-- using the function in ts the numbers as mirrored in the parameters will be added unless the parameters are not numeric-->
<button (click)="sum(10,20)">Sum</button>


